NODE_ENV="development"

NAME="talando"

PORT=5000

DB_URL=mongodb://localhost:27017/talando?authSource=admin

TOKEN_SECRET="TONALGO_ADMIN_SECRET"

LOG_LEVEL="info"

REDIS_QUEUE_HOST=127.0.0.1
REDIS_QUEUE_PORT=6379

TOKEN_MAX_ATTEMPT=10
TOKEN_EXPIRY=10

PASSWORD_MAX_ATTEMPT=10
PASSWORD_SALT=10